h1:hover { color:red;  
	text-align: center; }
h1 {text-align: center;}
h2 { text-align: center; color: black; }
div { 
position:fixed;
center:0;
left:30;
width:200px;
border:1px  solid #73AD21;
}

p { text-align: left; color:blue; }
#justify p {
margin:0;
max-width:70%;
text-align:justify;
}
form {position:absolute ;
top:120px;
right:0px;
width:200px;
height:100px;
}

body { background-color:grey;}



